# Build directories
build/
dist/
*.egg-info/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.Python

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Application specific
tasks.json 